# Data Science Tools and Ecosystem #

**Objectives:**
- List popular languages for Data Science
- List data science libraries
- List Data Science tools 
- Evaluating arithmetic expressions in Python
- Practice Markdown

In this notebook, Data Science Tools and Ecosystem are summarized.

Some of the popular languages that Data Scientists use are:
1. Python
2. R 
3. SQL

Some of the commonly used libraries used by Data Scientists include:
1. Pandas
2. Tensorflow 
3. Numpy

|Data Science Tools |
|---|
|JupyterLab|
|RStudio IDE|
|Jupyter Notebook|
|GitHub|
|IBM Watson|
|IBM SPSS Modeler|

### Below are a few examples of evaluating arithmetic expressions in Python

In [6]:
#  This a simple arithmetic expression to mutiply then add integers
(3*4)+5

17

In [7]:
#  This will convert 200 minutes to hours by diving by 60
minutes = 200 
hours = minutes//60
hours

3

## Author
Linh Hoang